<div class="center">
    <h1>Bienvenue sur l'appli des secrets</h1>
    <h2>
	    <a href="static_pages/secret">Tu pourras découvrir le secret</a>
  	</h2>
    <%= link_to "Connecte-toi !", login_path, class: "btn btn-lg btn-primary" %>
    <br>
    <%= link_to "Crée un compte !", signup_path, class: "btn btn-lg btn-info" %>
</div>
