<div class="center jumbotron">
    <h1>Bienvenue sur l'appli des secrets</h1>
    <h2>
    Tu pourras découvrir tous les secrets
    <a href="static_pages/secret">ici</a>
  </h2>
    <%= link_to "Connecte-toi !", login_path, class: "btn btn-lg btn-primary" %>
    <br>
    <%= link_to "Crée un compte !", signup_path, class: "btn btn-lg btn-info" %>
</div>

<!-- <button type="button" class="btn btn-dark"> -->