<h1>Vous ête maintenant déconnecté</h1>
<p>C'était amusant hein ?</p>

<%= link_to "Reconnecte-toi !", login_path, class: "btn btn-lg btn-primary" %>
<br>
<%= link_to "Crée un compte !", signup_path, class: "btn btn-lg btn-info" %>
