<div class="center">
	<h1>Vous ête maintenant déconnecté</h1>
	<h2>
	    <a href="static_pages/secret">Essaye de relire le secret pour voir</a>
  	</h2>
	<p>C'était amusant hein ?</p>

	<%= link_to "Reconnecte-toi !", login_path, class: "btn btn-lg btn-primary" %>
	<br>
	<%= link_to "Crée un compte !", signup_path, class: "btn btn-lg btn-info" %>
</div>